@model ApplicationSvnViewModel
@{
    ViewData[ViewDataNames.Title] = "SVN Deposu Bilgileri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">SVN Deposu Bilgileri</h1>
@Html.HiddenFor(x => x.ApplicationSvn.Id, new { name = "svnRepositoryId", id = "svnRepositoryId" })
@Html.HiddenFor(x => x.ApplicationSvn.ApplicationId, new { name = "applicationId", id = "applicationId" })
<input id="favouritePageName" type="hidden" value="@Model.FavouritePageName" />
<input type="hidden" id="favouriteId" />

<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <h3>
                @Model.ApplicationSvn.ApplicationName
            </h3>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
                <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
                @if (Model.IsAuthorized)
                {
                    <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(ApplicationSvnControllerActionNames.Edit, ControllerNames.ApplicationSvn, new { id = Model.ApplicationSvn.Id })">
                        <i class="far fa-edit" aria-hidden="true"></i> @ButtonTextNames.Edit
                    </a>
                    <button class="btn btn-simple btn-sm hover-danger" id="deleteAppSvnRepository"><i class="fa fa-trash-alt" aria-hidden="true"></i> Sil</button>
                    <button class="btn btn-simple btn-sm hover-info" id="showAudit"><i class="fa fa-history" aria-hidden="true"></i> Değişiklik Geçmişi</button>
                }
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.ApplicationSvn.RecordUpdateInfo.ModifiedDate - @Model.ApplicationSvn.RecordUpdateInfo.ModifiedUserEmail<br><b>Oluşturma: </b>@Model.ApplicationSvn.RecordUpdateInfo.CreatedDate - @Model.ApplicationSvn.RecordUpdateInfo.CreatedUserEmail">
                    <i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi
                </button>
            </div>
        </div>
        <ul class="list-group list-group-flush border-0">
            <li class="list-group-item pl-0">
                <strong>Depo Url : </strong>
                <a href="@Model.ApplicationSvn.SvnRepositoryUrl" target="_blank">@Model.ApplicationSvn.SvnRepositoryUrl</a>
            </li>
            <li class="list-group-item pl-0">
                <strong>Depo Adı : </strong>
                <span>@Model.ApplicationSvn.Name</span>
            </li>

            <li class="list-group-item pl-0">
                <strong>Depo Tipi : </strong>
                <span>@Model.ApplicationSvn.SvnRepositoryTypeName</span>
            </li>
        </ul>
    </div>
</div>

@await Component.InvokeAsync("Audit", new { tableName = "SvnRepository", recordId = Model.ApplicationSvn.Id })

@section Scripts{
    <script src="~/bundles/js/svnRepositoryDetail.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}