@model ApplicationSonarQubeProjectViewModel
@{
    ViewData[ViewDataNames.Title] = "Yeni SonarQube Projesi";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Yeni SonarQube Projesi</h1>
<div class="row">
    <div class="col-md-12">
        <h3>@Model.ApplicationSonarQubeProject.ApplicationName</h3>
        @using (Html.BeginForm(ApplicationSonarqubeProjectControllerActionNames.Add, ControllerNames.ApplicationSonarqubeProject, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ApplicationSonarQubeProject.ApplicationId, new { name = "applicationId", id = "applicationId" });

            @if (Model.SonarQubeProjectTypeList.Count > 0)
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.ApplicationSonarQubeProject.SonarqubeProjectName, new { @class = "col-form-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            @Html.Label(null, Model.SonarQubeProjectUrl, new { @class = "input-group-text" })
                        </div>
                        @Html.TextBoxFor(x => x.ApplicationSonarQubeProject.SonarqubeProjectName, new { @class = "form-control" })
                        <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="mxkobi-sq-daily">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    @Html.ValidationMessageFor(m => m.ApplicationSonarQubeProject.SonarqubeProjectName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ApplicationSonarQubeProject.SonarqubeProjectTypeId, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.ApplicationSonarQubeProject.SonarqubeProjectTypeId, new SelectList(Model.SonarQubeProjectTypeList, DropdownItemValue.Id, DropdownItemValue.Name), "Proje Tipi Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ApplicationSonarQubeProject.SonarqubeProjectTypeId)
                </div>
                <div class="py-3">
                    <button id="btnSaved" type="submit" class="btn btn-success">Kaydet</button>
                </div>
            }
            else
            {
                <label class="text-danger">Eklenecek proje tipi bilgisi yoktur.</label>
            }
        }
    </div>
</div>