@model ApplicationSonarQubeProjectViewModel
@{
    ViewData[ViewDataNames.Title] = "SonarQube Projesi Güncelleme";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">SonarQube Projesi Güncelleme</h1>
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <h3>@Model.ApplicationSonarQubeProject.ApplicationName</h3>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.ApplicationSonarQubeProject.RecordUpdateInfo.ModifiedDate - @Model.ApplicationSonarQubeProject.RecordUpdateInfo.ModifiedUserEmail<br><b>Oluşturma: </b>@Model.ApplicationSonarQubeProject.RecordUpdateInfo.CreatedDate - @Model.ApplicationSonarQubeProject.RecordUpdateInfo.CreatedUserEmail"><i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi</button>
            </div>
        </div>
        @using (Html.BeginForm(ApplicationSonarqubeProjectControllerActionNames.Edit, ControllerNames.ApplicationSonarqubeProject, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ApplicationSonarQubeProject.ApplicationId, new { name = "applicationId", id = "applicationId" })
            @Html.HiddenFor(x => x.ApplicationSonarQubeProject.SonarqubeProjectId)

            @if (Model.SonarQubeProjectTypeList.Count > 0)
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.ApplicationSonarQubeProject.ProjectUrl, new { @class = "col-form-label" })
                    <div><a href="@Model.SonarQubeProjectUrl@Model.ApplicationSonarQubeProject.SonarqubeProjectName" target='_blank'>@Model.SonarQubeProjectUrl@Model.ApplicationSonarQubeProject.SonarqubeProjectName</a></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ApplicationSonarQubeProject.SonarqubeProjectName, new { @class = "col-form-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            @Html.Label(null, Model.SonarQubeProjectUrl, new { @class = "input-group-text" })
                        </div>
                        @Html.TextBoxFor(x => x.ApplicationSonarQubeProject.SonarqubeProjectName, new { @class = "form-control", placeholder = "mxkobi" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ApplicationSonarQubeProject.SonarqubeProjectName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ApplicationSonarQubeProject.SonarqubeProjectTypeId, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.ApplicationSonarQubeProject.SonarqubeProjectTypeId, new SelectList(Model.SonarQubeProjectTypeList, DropdownItemValue.Id, DropdownItemValue.Name), "Proje Tipi Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ApplicationSonarQubeProject.SonarqubeProjectTypeId)
                </div>
                <div class="py-3">
                    <button id="btnSaved" type="submit" class="btn btn-success">Güncelle</button>
                </div>
            }
            else
            {
                <label class="text-danger">Düzenlenecek sonarQube proje bilgisi yoktur.</label>
            }
        }
    </div>
</div>