@model MenuDetailViewModel
@{
    ViewData[ViewDataNames.Title] = "Menü Bilgileri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Menü Bilgileri</h1>
@Html.HiddenFor(x => x.Menu.Id, new { name = "menuId", id = "menuId" })
<input type="hidden" id="favouritePageName" name="favouritePageName" value="Menü Bilgileri" />
<input type="hidden" id="favouriteId" />

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <div>
                <h3>@Model.Menu.Name</h3>
            </div>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
                <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
                @if (Model.IsAuthorized)
                {
                    <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(ApplicationControllerActionNames.Edit, ControllerNames.Menu, new { id = Model.Menu.Id })">
                        <i class="far fa-edit" aria-hidden="true"></i> @ButtonTextNames.Edit
                    </a>
                    <button class="btn btn-simple btn-sm hover-danger" id="deleteMenu"><i class="fa fa-trash-alt" aria-hidden="true"></i> Sil</button>
                    <button class="btn btn-simple btn-sm hover-info" id="showAudit"><i class="fa fa-history" aria-hidden="true"></i> Değişiklik Geçmişi</button>
                }
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.Menu.RecordUpdateInfo.ModifiedDate - @Model.Menu.RecordUpdateInfo.ModifiedUserEmail<br /><b>Oluşturma: </b>@Model.Menu.RecordUpdateInfo.CreatedDate - @Model.Menu.RecordUpdateInfo.CreatedUserEmail">
                    <i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi
                </button>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pl-0">
                <strong>Üst Menü : </strong>
                <span><a href="/menu/detail/@Model.Menu.ParentId">@Model.Menu.ParentName</a></span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Link : </strong>
                <span>@Model.Menu.Link</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Sıra : </strong>
                <span>@Model.Menu.Order</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Grup : </strong>
                <span>@Model.Menu.GroupName</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Açıklama : </strong>
                <span>@Model.Menu.Description</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Simge : </strong>
                <span>@Model.Menu.Icon</span>
            </li>
        </ul>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <span class="badge text-muted">@Model.SubMenuList.Count menü</span>
        <table class="table table-bordered table-striped">
            <caption class="hide">Menü Bilgileri Listesi</caption>
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-md-3">Menü Adı</th>
                    <th scope="col" class="col-md-4">Link</th>
                    <th scope="col" class="col-md-1">Sıra</th>
                    <th scope="col" class="col-md-2">Açıklama</th>
                    <th scope="col" class="col-md-2">Son Güncelleme</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SubMenuList.Count > 0)
                {
                    @foreach (var item in Model.SubMenuList)
                    {
                        <tr class="d-flex">
                            <td class="col-md-3">@Html.ActionLink(item.Name, ApplicationControllerActionNames.Detail, ControllerNames.Menu, new { id = item.Id }, new { target = "_blank" })</td>
                            <td class="col-md-4">@item.Link</td>
                            <td class="col-md-1">@item.Order</td>
                            <td class="col-md-2">@item.Description</td>
                            <td class="col-md-2">@item.RecordUpdateInfo.ModifiedDate.ToString("dd MMMM yyyy HH:mm")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="5">Menüye bağlı alt menü bulunmuyor.</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Component.InvokeAsync("Audit", new { tableName = "Menu", recordId = Model.Menu.Id })

@section Scripts{
    <script src="~/js/menuDetail.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}