@model DatabasesViewModel
@{
    ViewData[ViewDataNames.Title] = "Veritabanları";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<link rel="stylesheet" href="~/bundles/css/dataTable.css" asp-append-version="true" />
<h1 class="title-primary display-4">Veritabanları</h1>
<input type="hidden" id="favouritePageName" name="favouritePageName" value="Veritabanları" />
<input type="hidden" id="favouriteId" />

<div class="row align-items-center">
    <div class="col-md-3">
        <div class="form-group">
            @Html.DropDownListFor(x => x.DatabaseGroupId, new SelectList(Model.DatabaseGroups, DropdownItemValue.Id, DropdownItemValue.Name), "Veritabanı Grubu", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" id="database-search" class="form-control" value="" placeholder="Veritabanı Adı.." />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <button class="btn btn-primary btn-xs-block" type="button" id="database-search-button">Ara</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group float-right">
            @if (Model.IsAuthorized)
            {
                <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(DatabaseControllerActionNames.Add, ControllerNames.Database)">
                    <i class="fa fa-plus" aria-hidden="true"></i> @ButtonTextNames.Add
                </a>
            }
            <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
            <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
            <button class="btn btn-simple btn-sm hover-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-grip-vertical" aria-hidden="true"></i> Diğer işlemler</button>
            <div class="dropdown-menu dropdown-menu-right">
                <a id="csv_export" class="dropdown-item">@ButtonTextNames.ExportCsv</a>
                <button id="export-as-wiki" class="dropdown-item">@ButtonTextNames.ExportWiki</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="database-table">
            <caption class="hide">Veritabanları Listesi</caption>
            <thead>
                <tr>
                    <th scope="col" data-column="DatabaseName">Veritabanı Adı</th>
                    <th scope="col" data-column="DatabaseGroupName">Veritabanı Grubu</th>
                    <th scope="col" data-column="DatabaseTypeName">Veritabanı Tipi</th>
                    <th scope="col" data-column="RecordUpdateInfo_ModifiedDate">Son Güncelleme</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="export-as-wiki-modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Veritabanı Listesi Dışa Aktarma - Wiki</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="my-3">
                    <button id="export-as-wiki-file" class="btn btn-secondary">@ButtonTextNames.DownloadRawText</button>
                </div>
                <div class="my-3">
                    <button class="btn btn-block" id="copyButton" type="button" data-toggle="tooltip" data-original-title="Kopyala">
                        <span class="clip-board-wrapper" id="clipboard">
                            <pre id="databases-wiki-text"></pre>
                        </span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/bundles/js/dataTable.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/database.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}