@model ApplicationDependencyViewModel
@{
    ViewData[ViewDataNames.Title] = "Yeni Uygulama Bağımlılığı";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
    <h1 class="title-primary display-4">Yeni Uygulama Bağımlılığı</h1>

@using (Html.BeginForm(ApplicationDependencyControllerActionNames.Add, ControllerNames.ApplicationDependency, FormMethod.Post, new { id = "database-dependency-form" }))
{
    @Html.HiddenFor(x => x.ApplicationDependency.DependentApplicationId)
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Uygulama Grubu(*)</label>
                @Html.DropDownListFor(m => m.ApplicationDependency.ApplicationGroupId, new SelectList(Model.ApplicationGroups, DropdownItemValue.Id, DropdownItemValue.Name), "Seçiniz", new { @class = "custom-select ddlApplicationGroup" })
                @Html.ValidationMessageFor(x => x.ApplicationDependency.ApplicationGroupId)
            </div>
            <div class="form-group">
                <label class="col-form-label">Uygulama(*)</label>
                @Html.DropDownListFor(x => x.ApplicationDependency.DependedApplicationId, new SelectList(Model.Applications, DropdownItemValue.Id, DropdownItemValue.Name), "Seçiniz", new { @class = "custom-select ddlApplication" })
                @Html.ValidationMessageFor(m => m.ApplicationDependency.DependedApplicationId)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ApplicationDependency.Description, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.ApplicationDependency.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ApplicationDependency.Description)
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
}

@section Scripts{
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/applicationDependency.min.js" asp-append-version="true"></script>
}