@model ApplicationJenkinsJobViewModel
@{
    ViewData[ViewDataNames.Title] = "Yeni Jenkins Görevi";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Yeni Jenkins Görevi</h1>
<div class="row">
    <div class="col-md-12">
        <h3>@Model.ApplicationJenkinsJob.ApplicationName</h3>
        @using (Html.BeginForm(ApplicationJenkinsJobControllerActionNames.Add, ControllerNames.ApplicationJenkinsJob, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ApplicationJenkinsJob.ApplicationId, new { name = "applicationId", id = "applicationId" });

            @if (Model.JenkinsJobTypeList.Count > 0)
            {
                <div class="form-group col-10 p-0">
                    @Html.LabelFor(x => x.ApplicationJenkinsJob.JenkinsJobName, new { @class = "col-form-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            @Html.Label(null, Model.JenkinsJobUrl, new { @class = "input-group-text" })
                        </div>
                        @Html.TextBoxFor(x => x.ApplicationJenkinsJob.JenkinsJobName, new { @class = "form-control" })
                        <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="mxkobi">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    @Html.ValidationMessageFor(m => m.ApplicationJenkinsJob.JenkinsJobName)
                </div>
                <div class="form-group col-10 p-0">
                    @Html.LabelFor(x => x.ApplicationJenkinsJob.JenkinsJobTypeId, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.ApplicationJenkinsJob.JenkinsJobTypeId, new SelectList(Model.JenkinsJobTypeList, DropdownItemValue.Id, DropdownItemValue.Name), "Görev Tipi Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ApplicationJenkinsJob.JenkinsJobTypeId)
                </div>
                <div class="py-3">
                    <button id="btnSaved" type="submit" class="btn btn-success">Kaydet</button>
                </div>
            }
            else
            {
                <label class="text-danger">Eklenecek görev tipi bilgisi yoktur.</label>
            }
        }
    </div>
</div>