@model DatabaseDependencyViewModel
@{
    ViewData[ViewDataNames.Title] = "Yeni Veritabanı Bağımlılığı";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Yeni Veritabanı Bağımlılığı</h1>

@using (Html.BeginForm(DatabaseDependencyControllerActionNames.Add, ControllerNames.DatabaseDependency, FormMethod.Post, new { id = "database-dependency-form" }))
{
    @Html.HiddenFor(x => x.DatabaseDependency.ApplicationId)
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Veritabanı Grubu(*)</label>
                @Html.DropDownListFor(m => m.DatabaseDependency.DatabaseGroupId, new SelectList(Model.DatabaseGroups, DropdownItemValue.Id, DropdownItemValue.Name), "Seçiniz", new { @class = "custom-select ddlDatabaseGroup" })
                @Html.ValidationMessageFor(m => m.DatabaseDependency.DatabaseGroupId)
            </div>
            <div class="form-group">
                <label class="col-form-label">Veritabanı(*)</label>
                @Html.DropDownListFor(x => x.DatabaseDependency.DatabaseId, new SelectList(Model.Databases, DropdownItemValue.Id, DropdownItemValue.Name), "Seçiniz", new { @class = "custom-select ddlDatabase" })
                @Html.ValidationMessageFor(m => m.DatabaseDependency.DatabaseId)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.DatabaseDependency.Description, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.DatabaseDependency.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.DatabaseDependency.Description)
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
}

@section Scripts{
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/databaseDependency.min.js" asp-append-version="true"></script>
}