@model ExternalDependencyViewModel
@{
    ViewData[ViewDataNames.Title] = "Harici Bağımlılık Bilgileri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Harici Bağımlılık Bilgileri</h1>
@Html.HiddenFor(x => x.ExternalDependency.Id, new { name = "externalDependencyId", id = "externalDependencyId" })
<input id="favouritePageName" type="hidden" value="@Model.FavouritePageName" />
<input type="hidden" id="favouriteId" />

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <div>
                <h3>@Model.ExternalDependency.ApplicationName</h3>
            </div>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
                <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
                @if (Model.IsAuthorized)
                {
                    <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(ExternalDependencyControllerActionNames.Edit, ControllerNames.ExternalDependency, new { id = Model.ExternalDependency.Id })">
                        <i class="far fa-edit" aria-hidden="true"></i> @ButtonTextNames.Edit
                    </a>
                    <button class="btn btn-simple btn-sm hover-danger" id="deleteExternalDependency"><i class="fa fa-trash-alt" aria-hidden="true"></i> Sil</button>
                    <button class="btn btn-simple btn-sm hover-info" id="showAudit"><i class="fa fa-history" aria-hidden="true"></i> Değişiklik Geçmişi</button>
                }
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.ExternalDependency.RecordUpdateInfo.ModifiedDate - @Model.ExternalDependency.RecordUpdateInfo.ModifiedUserEmail<br><b>Oluşturma: </b>@Model.ExternalDependency.RecordUpdateInfo.CreatedDate - @Model.ExternalDependency.RecordUpdateInfo.CreatedUserEmail">
                    <i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi
                </button>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pl-0">
                <strong>Bağımlılık Adı : </strong>
                <span>@Model.ExternalDependency.Name</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Açıklama : </strong>
                <span>@Model.ExternalDependency.Description</span>
            </li>
        </ul>
    </div>
</div>
@await Component.InvokeAsync("Audit", new { tableName = "ExternalDependency", recordId = Model.ExternalDependency.Id })

@section Scripts{
    <script src="~/bundles/js/externalDependencyDetail.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}