@model ChangePasswordViewModel
@{
    ViewData[ViewDataNames.Title] = "Parola Değiştirme";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Parola Değiştirme</h1>

<div class="row flex-md-row flex-column-reverse">
    <div class="col-md-9 col-12">
        @using (Html.BeginForm(AccountControllerActionNames.Password, ControllerNames.Account, FormMethod.Post, new { id = "application-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password, new { @class = "col-form-label" })
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.NewPassword, new { @class = "col-form-label" })
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-form-label" })
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        }
    </div>
    <aside class="col-md-3 col-12 mb-4 bg-white sticky-toc">
        <partial name="@PartialViewNames.AccountSidebarMenu" />
    </aside>
</div>