@model UserDetailViewModel
@{
    ViewData[ViewDataNames.Title] = "Kullanıcı Bilgilerini Güncelleme";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Hesap Bilgileri</h1>
<div class="d-flex justify-content-end">
    <div class="mb-3 mb-lg-0">
        <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.User.RecordUpdateInfo.ModifiedDate<br /><b>Oluşturma: </b>@Model.User.RecordUpdateInfo.CreatedDate"><i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi</button>
    </div>
</div>

<div class="row flex-md-row flex-column-reverse">
    <div class="col-md-9 col-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item pl-0">
                <strong>E-posta Adresi : </strong>
                <span>@Model.User.EmailAddress</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Durum : </strong>
                <span>@Model.User.UserStatus</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Kullanıcı Tipi : </strong>
                <span>@Model.User.UserType</span>
            </li>
        </ul>
        <hr />
        @using (Html.BeginForm(AccountControllerActionNames.Profile, ControllerNames.Account, FormMethod.Post, new { id = "application-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.User.FirstName, new { @class = "col-form-label" })
                        @Html.TextBoxFor(x => x.User.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User.FirstName)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.User.LastName, new { @class = "col-form-label" })
                        @Html.TextBoxFor(x => x.User.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User.LastName)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.User.SvnUserName, new { @class = "col-form-label" })
                        @Html.TextBoxFor(x => x.User.SvnUserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </div>
            </div>
        }
    </div>
    <aside class="col-md-3 col-12 mb-4 bg-white sticky-toc">
        <partial name="@PartialViewNames.AccountSidebarMenu" />
    </aside>
</div>