@model ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yeni Parolamı Belirleme | DevPortal</title>
    <link rel="stylesheet" href="~/bundles/css/main.min.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-light">
        <div class="container-middle py-3">
            <a href="/"><img src="~/img/devportal-logo.png" alt="Dev Portal Logo" title="Dev Portal" width="80" /></a>
        </div>
    </header>
    <partial name=@PartialViewNames.Message />

    <div class="container-middle">
        <partial name=@PartialViewNames.BreadCrumb model="Model.BreadCrumbViewModel" />
        <main role="main" class="py-3">
            <h1 class="title-primary font-weight-light">Yeni Parolamı Belirleme</h1>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-sm-5 col-12 mb-5 py-5 text-center">
                    @using (Html.BeginForm(AccountControllerActionNames.ResetPassword, ControllerNames.Account, FormMethod.Post, new { id = "application-form" }))
                    {
                        @Html.HiddenFor(q => q.Token)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div class="form-group text-left">
                            @Html.LabelFor(x => x.NewPassword, new { @class = "col-form-label" })
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                        </div>
                        <div class="form-group text-left">
                            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-form-label" })
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-success my-3">Değiştir</button>
                    }
                </div>
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="col-12 text-center"><span class="text-monospace text-black-50">© 2020 - DevPortal</span></div>
    </footer>

    <script src="~/bundles/js/main.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
</body>
</html>