@model UserDetailViewModel
@{
    ViewData[ViewDataNames.Title] = "Kullanıcı Bilgileri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Kullanıcı Bilgileri</h1>
@Html.HiddenFor(x => x.User.Id, new { name = "userId", id = "userId" })
<input type="hidden" id="favouritePageName" name="favouritePageName" value="Kullanıcı Bilgileri" />
<input type="hidden" id="favouriteId" />

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <h3>@Model.User.FirstName @Model.User.LastName</h3>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
                <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
                <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(UserControllerActionNames.Edit, ControllerNames.User, new { id = Model.User.Id })">
                    <i class="far fa-edit" aria-hidden="true"></i> @ButtonTextNames.Edit
                </a>
                <button class="btn btn-simple btn-sm hover-info" id="showAudit"><i class="fa fa-history" aria-hidden="true"></i> Değişiklik Geçmişi</button>
                <button class="btn btn-simple btn-sm hover-danger" id="deleteUser"><i class="fa fa-trash-alt" aria-hidden="true"></i> Sil</button>
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.User.RecordUpdateInfo.ModifiedDate - @Model.User.RecordUpdateInfo.ModifiedUserEmail<br /><b>Oluşturma: </b>@Model.User.RecordUpdateInfo.CreatedDate - @Model.User.RecordUpdateInfo.CreatedUserEmail"><i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi</button>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pl-0">
                <strong>Kullanıcı Id : </strong>
                <span>@Model.User.Id</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Kullanıcı Güvenli Id : </strong>
                <span>@Model.User.SecureId</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Ad : </strong>
                <span>@Model.User.FirstName</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Soyadı : </strong>
                <span>@Model.User.LastName</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>E-posta Adresi : </strong>
                <span>@Model.User.EmailAddress</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Svn Kullanıcı Adı : </strong>
                <span>@Model.User.SvnUserName</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Durum : </strong>
                <span>@Model.User.UserStatus</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Kullanıcı Tipi : </strong>
                <span>@Model.User.UserType</span>
            </li>
        </ul>
    </div>
</div>

@await Component.InvokeAsync("Audit", new { tableName = "User", recordId = Model.User.Id })

@section Scripts{
    <script src="~/bundles/js/userDetail.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}