@model EditUserViewModel
@{
    ViewData[ViewDataNames.Title] = "Kullanıcı Güncelleme";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Kullanıcı Güncelle</h1>
<div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
    <h3>@Model.User.FirstName @Model.User.LastName</h3>
    <div class="mb-3 mb-lg-0">
        <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.User.RecordUpdateInfo.ModifiedDate - @Model.User.RecordUpdateInfo.ModifiedUserEmail<br /><b>Oluşturma: </b>@Model.User.RecordUpdateInfo.CreatedDate - @Model.User.RecordUpdateInfo.CreatedUserEmail"><i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi</button>
    </div>
</div>

@using (Html.BeginForm(UserControllerActionNames.Edit, ControllerNames.User, FormMethod.Post, new { id = "user-form" }))
{
    @Html.HiddenFor(x => x.User.Id, new { name = "userId", id = "userId" })
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.User.FirstName, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.User.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.User.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.User.LastName, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.User.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.User.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.User.EmailAddress, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.User.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.User.EmailAddress)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.User.SvnUserName, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.User.SvnUserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.User.UserStatusId, new { @class = "col-form-label" })
                @Html.DropDownListFor(x => x.User.UserStatusId, new SelectList(Model.UserStatus, DropdownItemValue.Id, DropdownItemValue.Name), "Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User.UserStatusId)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.User.UserTypeId, new { @class = "col-form-label" })
                @Html.DropDownListFor(x => x.User.UserTypeId, new SelectList(Model.UserTypes, DropdownItemValue.Id, DropdownItemValue.Name), "Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User.UserTypeId)
            </div>
        </div>
        <div class="col-md-12 my-4">
            <button type="submit" class="btn btn-success">Güncelle</button>
        </div>
    </div>
}

@section Scripts{
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
}