<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[ViewDataNames.Title] | DevPortal</title>
    <link rel="stylesheet" href="~/bundles/css/main.min.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        @await Component.InvokeAsync("Navbar")
    </header>

    <partial name=@PartialViewNames.Message />

    <div class="container-middle">
        <partial name=@PartialViewNames.BreadCrumb model="ViewBag.BreadCrumb" />
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-middle">
            &copy; @DateTime.Now.Year - DevPortal - <a asp-area="" asp-controller="@ControllerNames.Site" asp-action="@SiteControllerActionNames.About">Hakkında</a>
            <a class="float-right" target="_blank" asp-area="" asp-controller="@ControllerNames.Samples" asp-action="@SamplesControllerActionNames.Index">Arayüz Kılavuzu</a>
        </div>
    </footer>

    <partial name=@PartialViewNames.Urls />

    <script src="~/bundles/js/main.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>