@{
    var pageUrl = Context.Request.Path;
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Single</h5>
        <p class="card-text">3Des ve Aes256 yöntemleri ile Encrypt ve Decrypt işlemleri yapılır.</p>

        <div class="list-group">
            <a asp-area=""
               asp-controller="@ControllerNames.Security"
               asp-action="@SecurityControllerActionNames.SingleCryptography"
               class="list-group-item @(pageUrl.Value.Contains(ViewNames.SingleCryptography) ? CssClassNames.active : string.Empty)">Single Cryptography</a>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Multiple Aes256</h5>

        <div class="list-group">
            <a asp-area=""
               asp-controller="@ControllerNames.Security"
               asp-action="@SecurityControllerActionNames.MultipleEncryptWithAes256"
               class="list-group-item @(pageUrl.Value.Contains(ViewNames.MultipleEncryptWithAes256) ? CssClassNames.active : string.Empty)">Multiple Encrypt</a>

            <a asp-area=""
               asp-controller="@ControllerNames.Security"
               asp-action="@SecurityControllerActionNames.MultipleDecryptWithAes256"
               class="list-group-item @(pageUrl.Value.Contains(ViewNames.MultipleDecryptWithAes256) ? CssClassNames.active : string.Empty)">Multiple Decrypt</a>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Multiple 3Des</h5>

        <div class="list-group">
            <a asp-area=""
               asp-controller="@ControllerNames.Security"
               asp-action="@SecurityControllerActionNames.MultipleEncryptWithTripleDes"
               class="list-group-item @(pageUrl.Value.Contains(ViewNames.MultipleEncryptWithTripleDes) ? CssClassNames.active : string.Empty)">Multiple Encrypt</a>

            <a asp-area=""
               asp-controller="@ControllerNames.Security"
               asp-action="@SecurityControllerActionNames.MultipleDecryptWithTripleDes"
               class="list-group-item @(pageUrl.Value.Contains(ViewNames.MultipleDecryptWithTripleDes) ? CssClassNames.active : string.Empty)">Multiple Decrypt</a>
        </div>
    </div>
</div>