@model DatabaseGroupViewModel
@{
    ViewData[ViewDataNames.Title] = "Veritabanı Grupları";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Veritabanı Grupları</h1>
<input type="hidden" id="favouritePageName" name="favouritePageName" value="Veritabanı Grupları" />
<input type="hidden" id="favouriteId" />

<div class="d-flex justify-content-between align-items-center pb-3">
    <span class="badge text-muted">@Model.DatabaseGroups.Count veritabanı grubu</span>
    <div>
        @if (Model.IsAuthorized)
        {
            <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(DatabaseGroupControllerActionNames.Add, ControllerNames.DatabaseGroup)">
                <i class="fa fa-plus" aria-hidden="true"></i> @ButtonTextNames.Add
            </a>
        }
        <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
        <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <caption class="hide">Veritabanı Grupları</caption>
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-md-4">Veritabanı Grubu</th>
                    <th scope="col" class="col-md-4">Veritabanı Adedi</th>
                    <th scope="col" class="col-md-3">Son Güncelleme</th>
                    <th scope="col" class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.HasDatabaseGroups)
                {
                    @foreach (var item in Model.DatabaseGroups)
                    {
                        <tr class="d-flex">
                            <td class="col-md-4">@item.Name</td>
                            <td class="col-md-4">@item.DatabaseCount</td>
                            <td class="col-md-3">@item.RecordUpdateInfo.ModifiedDate.ToString("dd MMMM yyyy HH:mm")</td>
                            <td class="col-md-1 text-center">
                                <a class='btn btn-link' type='button' data-toggle='tooltip' title='Detay' href="@Url.Action(DatabaseGroupControllerActionNames.Detail,ControllerNames.DatabaseGroup,new { id=item.Id})">
                                    <i class='far fa-eye' aria-hidden='true'></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="4">Kayıtlı veritabanı grubu yok</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}