@model DatabaseTypeViewModel
@{
    ViewData[ViewDataNames.Title] = "Veritabanı Tipi Bilgileri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Veritabanı Tipi Bilgileri</h1>
@Html.HiddenFor(x => x.DatabaseType.Id, new { name = "databaseTypeId", id = "databaseTypeId" })
@Html.HiddenFor(x => x.DatabaseType.Name, new { name = "favouritePageName", id = "favouritePageName" })
<input type="hidden" id="favouriteId" />

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <h3>@Model.DatabaseType.Name</h3>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
                <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
                @if (Model.IsAuthorized)
                {
                    <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(DatabaseTypeControllerActionNames.Edit, ControllerNames.DatabaseType, new { id = Model.DatabaseType.Id })">
                        <i class="far fa-edit" aria-hidden="true"></i> @ButtonTextNames.Edit
                    </a>
                    <button class="btn btn-simple btn-sm hover-danger" id="deleteDatabaseType"><i class="fa fa-trash-alt" aria-hidden="true"></i> Sil</button>
                    <button class="btn btn-simple btn-sm hover-info" id="showAudit"><i class="fa fa-history" aria-hidden="true"></i> Değişiklik Geçmişi</button>
                }
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.DatabaseType.RecordUpdateInfo.ModifiedDate - @Model.DatabaseType.RecordUpdateInfo.ModifiedUserEmail<br><b>Oluşturma: </b>@Model.DatabaseType.RecordUpdateInfo.CreatedDate - @Model.DatabaseType.RecordUpdateInfo.CreatedUserEmail"><i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi</button>
            </div>
        </div>
    </div>
</div>

@if (Model.HasDatabases)
{
    <div class="d-flex justify-content-between align-items-center mt-5 pb-3">
        <span class="badge text-muted">@Model.Databases.Count veritabanı</span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <caption class="hide">Veritabanı Tipleri</caption>
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col-md-4">Veritabanı Adı</th>
                        <th scope="col" class="col-md-4">Veritabanı Grubu</th>
                        <th scope="col" class="col-md-4">Son Güncelleme</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Databases)
                    {
                        <tr class="d-flex">
                            <td class="col-md-4">@item.Name</td>
                            <td class="col-md-4">@item.DatabaseGroupName</td>
                            <td class="col-md-4">@item.ModifiedDate.ToString("dd MMMM yyyy HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@await Component.InvokeAsync("Audit", new { tableName = "DatabaseType", recordId = Model.DatabaseType.Id })

@section Scripts{
    <script src="~/bundles/js/databaseTypeDetail.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}