@model DatabaseTypeViewModel
@{
    ViewData[ViewDataNames.Title] = "Veritabanı Tipleri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Veritabanı Tipleri</h1>
<div class="d-flex justify-content-between align-items-center pb-3">
    <span class="badge text-muted">@Model.DatabaseTypes.Count veritabanı tipi</span>
    @if (Model.IsAuthorized)
    {
        <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(DatabaseTypeControllerActionNames.Add, ControllerNames.DatabaseType)">
            <i class="fa fa-plus" aria-hidden="true"></i> @ButtonTextNames.Add
        </a>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <caption class="hide">Veritabanı Tipleri</caption>
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-md-4">Veritabanı Tipi</th>
                    <th scope="col" class="col-md-4">Veritabanı Adedi</th>
                    <th scope="col" class="col-md-3">Son Güncelleme</th>
                    <th scope="col" class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.HasDatabaseTypes)
                {
                    @foreach (var item in Model.DatabaseTypes)
                    {
                        <tr class="d-flex">
                            <td class="col-md-4">@item.Name</td>
                            <td class="col-md-4">@item.DatabaseCount</td>
                            <td class="col-md-3">@item.RecordUpdateInfo.ModifiedDate.ToString("dd MMMM yyyy HH:mm")</td>
                            <td class="col-md-1 text-center">
                                <a class='btn btn-link' type='button' data-toggle='tooltip' title='Detay' href="@Url.Action(DatabaseTypeControllerActionNames.Detail,ControllerNames.DatabaseType,new { id=item.Id})">
                                    <i class='far fa-eye' aria-hidden='true'></i>
                                </a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="4">Kayıtlı veritabanı tipi yok</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>

