@model AesViewModel
@{
    ViewData[ViewDataNames.Title] = "AES Cryptography";
}
<div class="mb-5">
    <h1 class="title-primary display-4">AES Cryptography</h1>
    <input type="hidden" id="favouritePageName" name="favouritePageName" value="AES Cryptography" />
    <input type="hidden" id="favouriteId" />

    <div class="d-lg-flex justify-content-between align-items-center">
        <p class="m-0"><span class="badge badge-secondary">AES </span> algoritması ile şifreleme ve şifre çözme işlemleri yapılır.</p>
        <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
        <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <partial name="@PartialViewNames.AesSidebarMenu" />
    </div>
    <div class="col-md-9">
        <form method="post" asp-action="@SecurityControllerActionNames.Aes" asp-controller="@ControllerNames.Security">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">İstemciler</h5>
                                @Html.DropDownListFor(x => x.SiteId, new SelectList(Model.CryptoApplications, "SiteId", "Name"), "İstemci Seçiniz", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Dönüştürme Türü</h5>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="ConvertType" value="@ConvertTypes.Encrypt" id="encrypt" />
                                    <label class="form-check-label" for="encrypt">@ConvertTypes.Encrypt.ToString()</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="ConvertType" value="@ConvertTypes.Decrypt" id="decrypt" />
                                    <label class="form-check-label" for="decrypt">@ConvertTypes.Decrypt.ToString()</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="ConvertibleText" class="form-control form-control-lg" type="text" placeholder="Dönüştürülecek metin" />
            </div>
            <input type="submit" value="Dönüştür" class="btn btn-primary" />
        </form>

        @if (Model.ConvertedTextHasValue)
        {
            <div class="col-12 my-5 pl-0">
                <button class="btn btn-block" id="copyButton" type="button" data-toggle="tooltip" data-original-title="Kopyala">
                    <span class="clip-board-wrapper" id="clipboard">
                        <pre>@Model.ConvertedText</pre>
                    </span>
                </button>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}