@model CryptoViewModel
@{
    ViewData[ViewDataNames.Title] = "Halkbank Cryptography - Multiple Decrypt With Aes256";
}

<div class="mb-5">
    <h1 class="title-primary display-4">Halkbank Cryptography</h1>
    <input type="hidden" id="favouritePageName" name="favouritePageName" value="Halkbank Cryptography - Multiple Decrypt With Aes256" />
    <input type="hidden" id="favouriteId" />
    <div class="d-lg-flex justify-content-between align-items-center">
        <p class="m-0"><span class="badge badge-secondary">Halkbank.YDS.Library.Cryptography v2</span> kütüphanesi ile şifreleme ve şifre çözme işlemleri yapılır.</p>
        <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
        <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <partial name="@PartialViewNames.SecuritySidebarMenu" />
    </div>
    <div class="col-md-9">
        <form method="post" asp-action="@SecurityControllerActionNames.MultipleDecryptWithAes256" asp-controller="@ControllerNames.Security">
            <div class="text-center">
                <h2>Multiple Decrypt With Aes256</h2>
                <p>AES256 yöntemi ile girilen şifreli değerleri deşifre etmek için kullanılır.</p>
            </div>
            <div class="form-group">
                <textarea asp-for="ConvertibleText" class="form-control" rows="5" placeholder="Dönüştürülecek metin"></textarea>
                <small id="ConvertibleText" class="form-text text-muted"><strong>Örnek:</strong> @Html.Raw("&lt;add name=&quot;Production&quot; connectionString=&quot;CF-B8-E3-92-E1-6F-88-FA-6E-3D-36-73-22-BC-A5-DA-81-73-84-71-0F-C9-0C-12-C6-ED-EE-55-AE-20-FE-67&quot; /&gt;")</small>
            </div>
            <input type="submit" value="Dönüştür" class="btn btn-primary" />
        </form>

        @if (Model.ConvertedTextHasValue)
        {
            <div class="col-12 my-5 pl-0">
                <button class="btn btn-block" id="copyButton" type="button" data-toggle="tooltip" data-original-title="Kopyala">
                    <span class="clip-board-wrapper" id="clipboard">
                        <pre>@Model.ConvertedText</pre>
                    </span>
                </button>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}