@model GeneratePasswordViewModel
@{
    ViewData[ViewDataNames.Title] = "Parola Oluşturma";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<div class="mb-5">
    <h1 class="title-primary display-4">Parola Oluşturma</h1>
    <input type="hidden" id="favouritePageName" name="favouritePageName" value="Parola Oluşturma" />
    <input type="hidden" id="favouriteId" />
    <div class="row">
        <div class="col-12">
            <button class="btn btn-simple btn-sm hover-action float-right" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
            <button class="btn btn-simple btn-sm hover-action float-right active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
        </div>
    </div>
</div>

@using (Html.BeginForm(SecurityControllerActionNames.Password, ControllerNames.Security, FormMethod.Post, new { id = "generatepassword-form" }))
{
    @Html.ValidationSummary(true)

    @Html.AntiForgeryToken()
    <div class="form-group col-md-3 col-5">
        @Html.LabelFor(x => x.PasswordModel.PasswordLength, new { @class = "col-form-label" })
        @Html.DropDownListFor(x => x.PasswordModel.PasswordLength, new SelectList(Model.PasswordLengthNumbers, "Key", "Value"), null, new { @class = "form-control" })
    </div>
    <div class="col-12">
        <div class="form-group">
            <div class="custom-control custom-checkbox mr-sm-2">
                @Html.CheckBoxFor(x => x.PasswordModel.IncludeNumeric, new { @class = "custom-control-input" })
                @Html.LabelFor(x => x.PasswordModel.IncludeNumeric, new { @class = "custom-control-label" })
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox mr-sm-2">
                @Html.CheckBoxFor(x => x.PasswordModel.IncludeUpperCase, new { @class = "custom-control-input" })
                @Html.LabelFor(x => x.PasswordModel.IncludeUpperCase, new { @class = "custom-control-label" })
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox mr-sm-2">
                @Html.CheckBoxFor(x => x.PasswordModel.IncludeLowerCase, new { @class = "custom-control-input" })
                @Html.LabelFor(x => x.PasswordModel.IncludeLowerCase, new { @class = "custom-control-label" })
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox mr-sm-2">
                @Html.CheckBoxFor(x => x.PasswordModel.IncludeSpecialCharacters, new { @class = "custom-control-input" })
                @Html.LabelFor(x => x.PasswordModel.IncludeSpecialCharacters, new { @class = "custom-control-label" })
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Parola Oluştur</button>
        </div>
    </div>
}

@if (Model.HasPasswordValue)
{
    <div class="col-md-6 col-sm-12 col-12 my-5">

        <button class="btn btn-block" id="copyButton" type="button" data-toggle="tooltip" data-original-title="Kopyala">
            <span class="clip-board-wrapper" id="clipboard">
                <pre>@Model.Password</pre>
            </span>
        </button>
    </div>
}

<div class="toast success clipboard" role="alert" aria-live="assertive" aria-atomic="false" data-delay="5000">
    <div class="toast-header alert-success">
        <strong class="mr-auto text-success">🎉</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span class="text-success" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <p class="text-success">Parola kopyalandı!</p>
    </div>
</div>
@section Scripts
{
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}