@model ApplicationEnvironmentViewModel
@{
    ViewData[ViewDataNames.Title] = "Yeni Uygulama Ortamı";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Yeni Uygulama Ortam Bilgisi</h1>



@using (Html.BeginForm(ApplicationEnvironmentControllerActionNames.Add, ControllerNames.ApplicationEnvironment, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ApplicationEnvironment.ApplicationId, new { name = "applicationId", id = "applicationId" });

    <div class="row">
        <div class="col-md-12">
            <h3>@Model.ApplicationEnvironment.ApplicationName</h3>
            @if (Model.HasEnvironmentList)
            {
                <div class="form-group col-3 p-0">
                    @Html.LabelFor(x => x.ApplicationEnvironment.EnvironmentId, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.ApplicationEnvironment.EnvironmentId, new SelectList(Model.EnvironmentList, DropdownItemValue.Id, DropdownItemValue.Name), "Ortam Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ApplicationEnvironment.EnvironmentId)
                </div>
                <div class="form-group col-10 p-0">
                    @Html.LabelFor(x => x.ApplicationEnvironment.Url, new { @class = "col-form-label" })
                    <div class="position-relative">
                        @Html.TextBoxFor(x => x.ApplicationEnvironment.Url, new { @class = "form-control" })
                        <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="http://mxhalkbankdev.activebuilder.local">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    @Html.ValidationMessageFor(m => m.ApplicationEnvironment.Url)
                </div>
                <div class="form-group col-10 p-0">
                    @Html.LabelFor(x => x.ApplicationEnvironment.PhysicalPath, new { @class = "col-form-label" })
                    <div class="position-relative">
                        @Html.TextBoxFor(x => x.ApplicationEnvironment.PhysicalPath, new { @class = "form-control" })
                        <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="\\VENUS\Web\mxhalkbankdev.activebuilder.local\">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    @Html.ValidationMessageFor(m => m.ApplicationEnvironment.PhysicalPath)
                </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ApplicationEnvironment.HasLog, new { @class = "col-form-label" })<br />
                        <div class="custom-control custom-radio custom-control-inline">
                            @Html.RadioButtonFor(m => m.ApplicationEnvironment.HasLog, "false", new { @class = "custom-control-input", id = "defaultInline1", @checked = "checked" })
                            <label class="custom-control-label" for="defaultInline1">Görüntülenemez</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            @Html.RadioButtonFor(m => m.ApplicationEnvironment.HasLog, "true", new { @class = "custom-control-input", id = "defaultInline2" })
                            <label class="custom-control-label" for="defaultInline2">Görüntülenebilir</label>
                        </div>
                    </div>
                    <div class="form-group col-10 p-0">
                        @Html.LabelFor(x => x.ApplicationEnvironment.LogFilePath, new { @class = "col-form-label" })
                        <div class="position-relative">
                            @Html.TextBoxFor(x => x.ApplicationEnvironment.LogFilePath, new { @class = "form-control" })
                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="\\AbLogSrv-01\LOG\WEB\DEV\mxhalkbankdev.activebuilder.local\">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        @Html.ValidationMessageFor(m => m.ApplicationEnvironment.LogFilePath)
                    </div>
                    <div class="py-3">
                        <button id="btnSaved" type="submit" class="btn btn-success my-3">Kaydet</button>
                    </div>
                    }
                    else
                    {
                    <label class="text-danger">Eklenecek ortam bilgisi yoktur.</label>
                    }
                </div>
    </div>
}