@model ApplicationEnvironmentViewModel
@{
    ViewData[ViewDataNames.Title] = "Uygulama Ortamı Bilgileri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Uygulama Ortamı Bilgileri</h1>

@Html.HiddenFor(x => x.ApplicationEnvironment.ApplicationId, new { name = "applicationId", id = "applicationId" })
@Html.HiddenFor(x => x.ApplicationEnvironment.Id, new { name = "applicationEnvironmentId", id = "applicationEnvironmentId" })
<input id="favouritePageName" type="hidden" value="@Model.FavouritePageName" />
<input type="hidden" id="favouriteId" />

<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <h3>@Model.ApplicationEnvironment.ApplicationName</h3>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
                <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
                @if (Model.IsAuthorized)
                {
                    <a class="btn btn-simple btn-sm hover-success" href="@Url.Action(ApplicationEnvironmentControllerActionNames.Edit, ControllerNames.ApplicationEnvironment, new { id = Model.ApplicationEnvironment.Id })">
                        <i class="far fa-edit" aria-hidden="true"></i> @ButtonTextNames.Edit
                    </a>
                    <button class="btn btn-simple btn-sm hover-danger" id="deleteAppEnvironment"><i class="fa fa-trash-alt" aria-hidden="true"></i> Sil</button>
                    <button class="btn btn-simple btn-sm hover-info" id="showAudit"><i class="fa fa-history" aria-hidden="true"></i> Değişiklik Geçmişi</button>
                }
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.ApplicationEnvironment.RecordUpdateInfo.ModifiedDate - @Model.ApplicationEnvironment.RecordUpdateInfo.ModifiedUserEmail<br><b>Oluşturma: </b>@Model.ApplicationEnvironment.RecordUpdateInfo.CreatedDate - @Model.ApplicationEnvironment.RecordUpdateInfo.CreatedUserEmail"><i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi</button>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pl-0">
                <strong>Ortam : </strong>
                <span>@Model.ApplicationEnvironment.EnvironmentName</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Url : </strong>
                <a href="#" target="_blank">@Model.ApplicationEnvironment.Url</a>
            </li>
            <li class="list-group-item pl-0">
                <strong>Log Görüntüleme : </strong>
                <span>@Model.ApplicationEnvironment.HasLogText</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Fiziksel Yol : </strong>
                <span>@Model.ApplicationEnvironment.PhysicalPath</span>
            </li>
            <li class="list-group-item pl-0">
                <strong>Log Dizini Yolu : </strong>
                <span>
                    @if (Model.ApplicationEnvironment.LogFilePath != null)
                    {
                        @Html.ActionLink(Model.ApplicationEnvironment.LogFilePath, LogControllerActionNames.Index, ControllerNames.Log, new { physicalPath = Model.ApplicationEnvironment.LogFilePath })
                    }
                </span>
            </li>
        </ul>
    </div>
</div>

@await Component.InvokeAsync("Audit", new { tableName = "ApplicationEnvironment", recordId = Model.ApplicationEnvironment.Id })

@section Scripts{
    <script src="~/bundles/js/applicationEnvironmentDetail.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}