@model ApplicationGroupViewModel
@{
    ViewData[ViewDataNames.Title] = "Uygulama Grubu Bilgisi Güncelle";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Uygulama Grubu Bilgisi Güncelle</h1>
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between">
            <h3>@Model.ApplicationGroup.Name</h3>
            <div class="mb-3 mb-lg-0">
                <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.ApplicationGroup.RecordUpdateInfo.ModifiedDate - @Model.ApplicationGroup.RecordUpdateInfo.ModifiedUserEmail<br><b>Oluşturma: </b>@Model.ApplicationGroup.RecordUpdateInfo.CreatedDate - @Model.ApplicationGroup.RecordUpdateInfo.CreatedUserEmail">
                    <i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm(ApplicationGroupControllerActionNames.Edit, ControllerNames.ApplicationGroup, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ApplicationGroup.Id)

            <div class="form-group">
                @Html.LabelFor(x => x.ApplicationGroup.Name, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.ApplicationGroup.Name, new { @class = "form-control mr-sm-2" })
                @Html.ValidationMessageFor(m => m.ApplicationGroup.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ApplicationGroup.StatusId, new { @class = "col-form-label" })
                @Html.DropDownListFor(x => x.ApplicationGroup.StatusId, new SelectList(Model.Status, DropdownItemValue.Id, DropdownItemValue.Name), "Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ApplicationGroup.StatusId)
            </div>
            <div class="py-3">
                <button type="submit" class="btn btn-success">Güncelle</button>
            </div>
        }
    </div>
</div>