@model GeneralSettingsViewModel
@{
    ViewData[ViewDataNames.Title] = "Genel Ayarlar";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Genel Ayarlar</h1>
<div class="col-md-12 d-flex justify-content-end">
    <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
    <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
    <button type="button" class="btn btn-simple btn-sm hover-info" id="showAudit"><i class="fa fa-history" aria-hidden="true"></i> Değişiklik Geçmişi</button>
    <button class="btn btn-simple btn-sm hover-info" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Son güncelleme: </b>@Model.GeneralSettings.ModifiedDate"><i class="far fa-clock" aria-hidden="true"></i> Tarih Bilgisi</button>
</div>
@using (Html.BeginForm(GeneralSettingsControllerActionNames.Edit, ControllerNames.GeneralSettings, FormMethod.Post, new { id = "generalSettings-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.GeneralSettings.Id)
    <input type="hidden" id="favouritePageName" name="favouritePageName" value="Genel Ayarlar" />
    <input type="hidden" id="favouriteId" />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.RedmineUrl, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.RedmineUrl, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="http://redmine.activebuilder.com:8090/">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.RedmineUrl)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.SvnUrl, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.SvnUrl, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="svn://svn.activebuilder.local/">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.SvnUrl)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.JenkinsUrl, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.JenkinsUrl, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="http://jenkins.activebuilder.local:8080/">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.JenkinsUrl)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.SonarQubeUrl, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.SonarQubeUrl, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="http://sonarqube.activebuilder.local:9000/">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.SonarQubeUrl)
            </div>
        </div>
    </div>
    <h4>Nuget Ayarları</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.NugetUrl, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.NugetUrl, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="http://nuget.activebuilder.local/nuget/">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.NugetUrl)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.NugetApiKey, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.GeneralSettings.NugetApiKey, new { autocomplete = "off", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GeneralSettings.NugetApiKey)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.NugetPackageArchiveFolderPath, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.NugetPackageArchiveFolderPath, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="P:\AB Kütüphaneleri Arşiv">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.NugetPackageArchiveFolderPath)
            </div>
        </div>
    </div>
    <h4>Aktarım Ayarları</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.ApplicationVersionPackageProdFolderPath, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.ApplicationVersionPackageProdFolderPath, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="P:\Aktarım\Uygulama\Prod\Başarılı Versiyon Paketleri">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.ApplicationVersionPackageProdFolderPath)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.ApplicationVersionPackagePreProdFolderPath, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.ApplicationVersionPackagePreProdFolderPath, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="P:\Aktarım\Uygulama\PreProd\Başarılı Versiyon Paketleri">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.ApplicationVersionPackagePreProdFolderPath)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.DatabaseDeploymentPackageProdFolderPath, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.DatabaseDeploymentPackageProdFolderPath, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="P:\Aktarım\Veritabanı\Prod">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.DatabaseDeploymentPackageProdFolderPath)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GeneralSettings.DatabaseDeploymentPackagePreProdFolderPath, new { @class = "col-form-label" })
                <div class="position-relative">
                    @Html.TextBoxFor(x => x.GeneralSettings.DatabaseDeploymentPackagePreProdFolderPath, new { autocomplete = "off", @class = "form-control" })
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="P:\Aktarım\Veritabanı\PreProd">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(m => m.GeneralSettings.DatabaseDeploymentPackagePreProdFolderPath)
            </div>
        </div>
    </div>
    <div class="py-3">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
}

@await Component.InvokeAsync("Audit", new { tableName = "GeneralSettings", recordId = Model.GeneralSettings.Id })

@section Scripts{
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}